fieldset{
    width: 400px;
    background-image: url("matrix-green-numbers.jpg");
}
fieldset label{
    display: block;
}
fieldset input{
    margin: 5px;
    border-radius: 15px;
}
label{
    color: white;
}
legend{
    color: chartreuse;
    font-size: 1.5em;
    font-weight: bolder;
}